WebAppPersonas/Connected Services/ServiceReference1/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/appPersonas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/appPersonas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="PersonsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentidadPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NacimientoPerson" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombrePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDireccionPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTelefonoPerson" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonsDetails" nillable="true" type="tns:PersonsDetails" />
</xs:schema>